<nav class="navbar">

  <div class="container">

    <div class="brand">
      <a routerLink="/gallery" class="navbar-brand">{{ title }}</a>
    </div>

    <ul class="nav" *ngIf="(user|async)?.uid">
      <li><a routerLink="/gallery">Image Gallery</a></li>
      <li><a routerLink="/upload">Upload</a></li>
    </ul>
    <ul class="nav account">
      <li *ngIf="!(user|async)?.uid">
        <a routerLink="/login">Log In</a>
      </li>
      <li *ngIf="(user|async)?.uid">
        <a routerLink="#" (click)="logOut()">Log Out</a>
      </li>
    </ul>

  </div>

</nav>
