.container {
  margin: 0 auto;
  width: 50%;
}

.navbar {
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background-color: #3e586d;
  overflow: hidden;
}

.brand,
.nav {
  display: inline-block;
  margin: 0;
}

.navbar-brand {
  font-family: 'Bungee', cursive;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  margin: 0 12px;
}
ul.account{position: absolute; right: 10px;}