<div class="container">
  <form #loginForm="ngForm">
    <h1 class="login-title">Log In</h1>

    <!-- Email input -->
    <md-input-container>
      <input mdInput class="form-control" #emailControl="ngModel" placeholder="Email" [(ngModel)]="email" name="email" maxlength="50" email
        required>
    </md-input-container> <br>

    <!-- Password input -->
    <md-input-container>
      <input mdInput class="form-control" #passwordControl="ngModel" placeholder="Password" [(ngModel)]="password" name="password" maxlength="50"
        type="password" required>
    </md-input-container>

    <button [disabled]="!loginForm.form.valid" type="submit" class="btn" (click)="signIn()">Sign In</button>
    <p *ngIf="msg" class="text-danger">{{msg}} </p>
  </form>
</div>
