<div class="container">
  <form #loginForm="ngForm">
    <h1 class="login-title">Log In</h1>

    <!-- Email input -->
    <mat-form-field>
      <input matInput class="form-control" #emailControl="ngModel" placeholder="Email" [(ngModel)]="email" name="email" maxlength="50" email
        required>
    </mat-form-field> <br>

    <!-- Password input -->
    <mat-form-field>
      <input matInput class="form-control" #passwordControl="ngModel" placeholder="Password" [(ngModel)]="password" name="password" maxlength="50"
        type="password" required>
    </mat-form-field>

    <button [disabled]="!loginForm.form.valid" type="submit" class="btn" (click)="signIn()">Sign In</button>
    <p *ngIf="errorMsg" class="text-danger">{{errorMsg}} </p>
  </form>
</div>
